# Entorno virtual
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno (Seguridad)
.env

# VS Code
.vscode/

# Base de datos local (si usas SQLite por error)
*.sqlite3
*.db

